@import "variables";
.parallax
{
	perspective: 100px;
	perspective-origin: 50% 40%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.parallaxLayer
	{
		position: absolute;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all .5s;
	}
	.parallaxLayer
	{
		img
		{
		 	margin: 0 auto;
		    display: block;
		    position: absolute;
		    width: 3000px;
		    bottom: 0;
		    left: 50%;
		    margin-left: -1500px;
		}
	}
	.parallaxLayerCover
	{
		background: #16222e;
		display: block;
		position: absolute;
		min-height: 130vh;
		width: 100%;
		top: 70vh;
		left: 0;
		right: 0;
		z-index: 2;
	}
	.parallaxLayer1
	{
	  	transform-origin: 50% 50%;
	  	transform: translateZ(-300px) scale(4);
	  	animation: layer2 5s infinite alternate-reverse linear;
	}
	.parallaxLayer2
	{
	  	transform-origin: 50% 50%;
	  	transform: translateZ(-250px) scale(3.5);
	  	animation: layer2 4.5s infinite alternate-reverse linear;
	}
	.parallaxLayer3
	{
		transform-origin: 50% 50%;
	  	transform: translateZ(-200px) scale(3);
	  	animation: layer3 4s infinite alternate-reverse linear;
	}
	.parallaxLayer4
	{
	  	transform-origin: 50% 50%;
	  	transform: translateZ(-150px) scale(2.5);
	  	animation: layer4 3.5s infinite alternate-reverse linear;
	}
	.parallaxLayer5
	{
	  	transform-origin: 50% 50%;
	  	transform: translateZ(-100px) scale(1.5);
	  	animation: layer5 3s infinite alternate-reverse linear;
	}
	.parallaxLayer6
	{
		transform-origin: 50% 50%;
	  	transform: translateZ(-50px) scale(1.5);
	  	animation: layer6 3s infinite alternate-reverse linear;
	}
	.parallaxLayer7
	{
		transform-origin: 50% 50%;
	  	transform: translateZ(0px) scale(1);
	  	animation: layer7 2s infinite alternate-reverse linear;
	}
}