body
{
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: #e3e9ea;
	font-family: 'Oswald', sans-serif;
}
h2
{
	margin: 50pt 0;
	position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: rgb(97, 38, 51);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
	letter-spacing: 2pt;
	display: block;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .9;
}
h3
{
	margin: 2pt 0;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
    color: rgb(97, 38, 51);
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 2pt;
	display: block;
	color: #188abf;
	width: 100%;
}
h4
{
	line-height: 2pt;
	font-weight: 700;
	color: #0e1215;
	letter-spacing: 1pt;
}
p
{
	line-height: 2pt;
}
.cv
{
	padding: 10%;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #e3e9ea;
	box-shadow: inset 0px -4px 4px 0px rgba(0, 0, 20, .3);
}
.coord, .xpContainer, .skills
{
	margin-bottom: 25pt;
	border-bottom: 2px solid rgba(97, 38, 51, .3);
	padding-bottom: 25pt;
}
.xpContain
{
	display: flex;
	justify-content: space-between;
}
.date
{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #504664;
	width: 125px;
}
.pro
{
	width: 125px;
	text-align: center;
}
.boite
{
	width: 125px;
}

.skills
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
h3
{
	width: 100%;
}
.skills_webdev, .skills_personal
{
	width: 150px;
	height: 100%;
}
.photoId
{
	border-radius: 50%;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 20, .3);
}
.printCv
{
	display: none;
}

.webdev
{
	text-align: center;
	display: block;  -webkit-print-color-adjust: exact;
	box-shadow: inset 0 0 0 1000px rgb(97, 38, 51);
}
.webdevPart
{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.letter
{
	position: relative;
  	display: inline-block;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 900;
  	font-size: 40pt;
	color: rgb(24, 138, 191);
 	perspective: 400;
  	transform-style: preserve-3d;
  	z-index: 1;
}
.letter::before, .letter::after
{
	position: absolute;
	top: 0;
	left: 0;
	content: attr(data-letter);
	transform-origin: top left;
}
.letter, .letter::before, .letter::after
{
  	transition: all 0.3s ease-in-out;
}
.letter::before
{
	z-index: 3;
    color: rgb(215, 215, 180);
    text-shadow: 
        -1px 0px 1px rgb(80, 70, 100),
        3px 0px 1px white;
    transform:
        rotateX(0deg)
        rotateY(-30deg)
        rotateZ(0deg);
}
.letter::after
{
	z-index:2;
	color: rgba(0, 0, 50, .15);
  	transform:
	    scale(1.08,1)
	    rotateX(0deg)
	    rotateY(40deg)
	    rotateZ(0deg)
	    skew(0deg,22deg);
}
.letter:hover::before
{
    color: rgb(255, 255, 216);
    text-shadow: 
        -3px 0px 1px rgb(80, 70, 100),
        1px 0px 1px white;
    transform:
        rotateX(0deg)
        rotateY(-15deg)
        rotateZ(0deg);
}
.letter:hover::after
{
  	color: rgba(0, 0, 50, .5);
  	transform:
	    scale(1.08,1)
	    rotateX(0deg)
	    rotateY(0deg)
	    rotateZ(0deg)
	    skew(0deg,1deg);
}